.grey-font {
    color: #C7C7C7;
}

.font-bebas-neue {
    font-family: "Bebas Neue", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-manrope {
    font-family: "Manrope", sans-serif;
}
